<table border="1">
	<tr>
		<th>id</th>
		<th>username</th>
		<th>email</th>

	</tr>


	{%for author in list%}


		<tr>
			<td>{{author.id}}</td>

			<td>{{author.username}}</td>
			<td>{{author.email}}</td>

			<td>
				<a href="{{ path('author_update', {'id': author.id}) }}">update</a>
                </td>
                <td>
				<a href="{{ path('app_delete', { 'id': author.id }) }}">Supprimer</a> 
			</td> 

			<br>
		</tr>

		{%endfor%}</table>

	  <a href="{{path('author_add')}}">ajouter</a> 